
.about-container {
  animation: fadeIn 1.7s;
  -webkit-animation: fadeIn 1.7s; /* Safari and Chrome */
  -moz-animation: fadeIn 1.7s; /* Firefox */
  -o-animation: fadeIn 1.7s; /* Opera */
}

.about-container p {
  line-height: 1.7em;
  text-align: center;
}

