.flex-parent {
  height: auto;
}

.flex-child.about-container {
  min-height: 60%;
  height: 100%;
  width: 60%;

  margin: auto;
}

.about-container p,
.about-container .callout-text {
  line-height: 1.7em;
  text-align: center;
}

.about-container .callout-text {
  background: rgba(0,128,128,0.4);
  color: white;
  margin: 50px auto;
  line-height: 3em;
  font-weight: 300;
}

