.logo-container {
  width: 338px; /* 467 */
}

.page-warcry {
  color: black;
  opacity: 0.8;
  margin-top: 20px;
  font-style: italic;
  width: 450px;
  text-align: center;
  line-height: 1.7em;
  cursor: default;

  animation: fadeInDelay 2.4s;
  -moz-animation: fadeInDelay 2.4s; /* Firefox */
  -webkit-animation: fadeInDelay 2.4s; /* Safari and Chrome */
  -o-animation: fadeInDelay 2.4s; /* Opera */
}

.img-filter {
  

  -webkit-filter: drop-shadow(4px 4px 0px rgba(0,0,0,0.2));
  filter: drop-shadow(4px 4px 0px rgba(0,0,0,0.2));

  animation: fadeInDelay .7s;
  -moz-animation: fadeInDelay .7s; /* Firefox */
  -webkit-animation: fadeInDelay .7s; /* Safari and Chrome */
  -o-animation: fadeInDelay .7s; /* Opera */
}

.img-filter :hover {
  -webkit-filter: drop-shadow(5px 5px 0px rgba(0,0,0,0.2));
  filter: drop-shadow(5px 5px 0px rgba(0,0,0,0.2));
}

.filter-invert .img-filter {
  -webkit-filter: invert(100%);
}

.filter-invert .page-warcry {
  color: rgba(255, 255, 255, .6);
}
