.header {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.header-container {
  min-height: 100%;
}

.flex-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}

.flex-child {
  flex: 1;
}

.title-primary {
  font-size: 9rem;
  font-family: "Steamwreck", serif;
  letter-spacing: 8px;
  margin: 0;
}

.title-secondary {
  text-transform: uppercase;
  font-style: italic;
  font-family: "Arial";
}
