.page-wrapper.flex-parent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;

  box-sizing: border-box;

  padding: 20px;
  height: 100%;
}

.flex-child {
  /*border: 2px solid tomato;*/
  flex: 0 0 auto;
  margin: 0 auto;
}

.logo-container {
  height: 150px; /* 207 */
  width: 338px; /* 467 */
}

.page-warcry {
  color: black;
  opacity: 0.8;
  margin-top: 20px;
  font-style: italic;
  width: 450px;
  text-align: center;
  line-height: 1.7em;
}

.logo-container img {
  width: 100%;
  transition: all 0.4s ease;

  -webkit-filter: drop-shadow(4px 4px 0px rgba(0,0,0,0.2));
  filter: drop-shadow(4px 4px 0px rgba(0,0,0,0.2));
}

.logo-container img:hover {
  -webkit-filter: drop-shadow(6px 6px 0px rgba(0,0,0,0.2));
  filter: drop-shadow(6px 6px 0px rgba(0,0,0,0.2));
}

.filter-invert .logo-container img {
  -webkit-filter: invert(100%);
}

.filter-invert .page-warcry {
  color: rgba(255, 255, 255, 0.6);
}
