body {
  font-family: "Heebo";
  font-weight: 300;

  background-color: white;
  transition: background-color 1s ease;
}

*::selection {
  background: rgba(0,128,128,0.4);
  color: white;
}

a {
  color: rgba(0,128,128,0.4);
  cursor: pointer;
}


body.filter-invert {
  background-color: black;
}

.page-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  
  background: url(../assets/backgrounds/bg1.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.flex-parent {
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;

  flex-direction: column;
  -webkit-flex-direction: column;

  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;

  justify-content: center;
  -webkit-justify-content: center;

  box-sizing: border-box;

  padding: 20px;
  overflow: auto;
  height: 100%;
}

.flex-child {
  -webkit-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;

  margin: 0 auto;
}

.page-inner {
  min-height: 60%;
  height: 100%;
  width: 60%;
  display: block;

  margin: 0 auto;

  padding-top: 20px;
}

.callout-text {
  text-align: center;
  background: rgba(0,128,128,0.4);
  color: white;
  margin: 50px auto;
  line-height: 3em;
  font-weight: 300;
}

