nav {
  margin: 0 auto;
  width: 300px;
  height: 100px;
  margin-bottom: -50px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.home nav {
  animation: fadeInDelay 2.3s;
    -moz-animation: fadeInDelay 2.3s; /* Firefox */
    -webkit-animation: fadeInDelay 2.3s; /* Safari and Chrome */
    -o-animation: fadeInDelay 2.3s; /* Opera */
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;/*
  align-items: center;*/

  width: 100%;
  padding: 0;
}

nav ul li {
  text-transform: uppercase;
  list-style: none;

  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;

  flex: 1 0;

}


a.nav-item {
  color: black;
  text-decoration: none;
}

a.nav-item:hover {
  color: rgba(0,128,128,0.7);
  transition: color .3s ease;
}

body.filter-invert nav a {
  color: white;
}

nav .icon-home img {
  width: 35px;
}
